.auth-status {
    padding: 10px 0;

    text-align: center;

    &--error {
        color: red;
    }
}

.auth-status__email {
    margin-bottom: 10px;
}

.auth-status__signout {
    color: #0000ee;
    cursor: pointer;
}